<div class="flex items-center justify-center">
  <div class="w-full max-w-md">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Login</h2>

    <div class="mb-4">
      <label class="block text-sm mb-1">Username</label>
      <input class="w-full" 
        placeholder="user123"
        pInputText
        [ngModel]="username()"
        (ngModelChange)="username.set($event)" />
    </div>

    <div class="mb-2 relative">
      <label class="block text-sm mb-1">Password</label>
       <p-password 
        [ngModel]="password()"
        (ngModelChange)="password.set($event)"
        [toggleMask]="true" 
        placeholder="********"
        styleClass="w-full"
        inputStyleClass="w-full p-3 border border-gray-300 rounded-md focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none transition-all"
      ></p-password>
    </div>

    <div class="text-right mb-4">
      <a href="#" class="text-blue-600 text-sm">Forgot your password?</a>
    </div>

    <!-- Button -->
    <button
      class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700"
      (click)="onLogin()"
    >
      Login
    </button>

    <p class="text-center text-sm mt-4">
      Don’t have an account?
      <a href="#" class="text-blue-600">Create yours</a>
    </p>

  </div>
</div>