<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">

  <div class="bg-blue-100 flex flex-col justify-center px-12 py-16">

    <h1 class="text-4xl font-bold text-gray-800 mb-10">
      Empower your learning journey<br />
      with our smart exam platform.
    </h1>

    <!-- Item -->
    <div class="flex items-start gap-4 mb-8">
      <div class="border p-2 rounded text-blue-600">🧠</div>
      <div>
        <h3 class="text-blue-600 font-semibold">Tailored Diplomas</h3>
        <p class="text-gray-600 text-sm">
          Choose from specialized tracks like Frontend, Backend, and Mobile Development.
        </p>
      </div>
    </div>

    <!-- Item -->
    <div class="flex items-start gap-4 mb-8">
      <div class="border p-2 rounded text-blue-600">📘</div>
      <div>
        <h3 class="text-blue-600 font-semibold">Focused Exams</h3>
        <p class="text-gray-600 text-sm">
          Access topic-specific tests including HTML, CSS, JavaScript, and more.
        </p>
      </div>
    </div>

    <!-- Item -->
    <div class="flex items-start gap-4">
      <div class="border p-2 rounded text-blue-600">💬</div>
      <div>
        <h3 class="text-blue-600 font-semibold">Smart Multi-Step Forms</h3>
        <p class="text-gray-600 text-sm">
          Choose from specialized tracks like Frontend, Backend, and Mobile Development.
        </p>
      </div>
    </div>

  </div>

  <div class="flex items-center justify-center">
    <router-outlet></router-outlet>
  </div>
</div>
